mixin nav
    .col-xl-6
        .nav__logo
            h1.nav__logo__title Cozy House
            p.nav__logo__subtitle Shelter for pets in Boston
    .col-xl-6
        .nav__links
            ul.nav__links__box.d-flex.justify-content-between
                li.nav__links__box--item 
                    a(href="#").nav__links__box--item-link About the shelter
                li.nav__links__box--item 
                    a(href="#").nav__links__box--item-link Our pets
                li.nav__links__box--item 
                    a(href="#").nav__links__box--item-link To help the shelter
                li.nav__links__box--item 
                    a(href="#").nav__links__box--item-link Contacts
