include ../blocks/header/_header.pug
include ../blocks/nav/_nav.pug
include ../blocks/about/_about.pug
include ../blocks/thankYou/_thankYou.pug
include ../blocks/donation/_donation.pug
include ../blocks/footer/_footer.pug


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="./css/style.css")
    body
        +header
        +about
        +thankYou
        +donation
        +footer

        script(src="https://code.jquery.com/jquery-3.4.1.min.js")
        script(src='./plugins/jquery.mask.min.js')