mixin friends
    .friends
        .container
            .row
                .col-xl-12
                    .friends__title
                        h3.friends__title--item Our friends who
                            br
                            |are looking for a hous
            .row
                .col-xl-12
                    .friends__slider
                        .friends__slider--item
                            img.friends__slider--item-img(src="./img/CatFriends1.png", alt="friend1")
                        .friends__slider--item
                            img.friends__slider--item-img(src="./img/DogFriends2.png", alt="friend2")
                        .friends__slider--item
                            img.friends__slider--item-img(src="./img/DogFriends3.png", alt="friend3")
            .row
                .col-xl-12
                    .friends__button
                        button.friends__button--item Get to know the rest