mixin thankYou
    .thankYou
        h3.thankYou__title Than you can help 
            br 
            |our shelter
        .thankYou__items
            ul.thankYou__items__list
                li.thank__items__list--item
                    a(href="#")
                li.thank__items__list--item
                    a(href="#")
                li.thank__items__list--item
                    a(href="#")
                li.thank__items__list--item
                    a(href="#")
                li.thank__items__list--item
                    a(href="#")
                li.thank__items__list--item
                    a(href="#")
                li.thank__items__list--item
                    a(href="#")
                li.thank__items__list--item
                    a(href="#")
                li.thank__items__list--item
                    a(href="#")