mixin thankYou
    .thankYou
        .container
            .row
                .col-12
                    h3.thankYou__title Than you can help 
                        br 
                        |our shelter
            .row
                .col-12
                    .thankYou__items
                        ul.thankYou__items__list
                            li.thankYou__items__list--item
                                a.thankYou__items__list--item-link(href="#")
                                    img.thankYou__items__list--item-link-img(src="./img/cat-food.png", alt="cat-food")
                                    p.thankYou__items__list--item-link-info Pet food
                            li.thankYou__items__list--item
                                a.thankYou__items__list--item-link(href="#")
                                    img.thankYou__items__list--item-link-img(src="./img/ambulance.png", alt="ambulance")
                                    p.thankYou__items__list--item-link-info Transportation
                            li.thankYou__items__list--item
                                a.thankYou__items__list--item-link(href="#")
                                    img.thankYou__items__list--item-link-img(src="./img/ball.png", alt="ball")
                                    p.thankYou__items__list--item-link-info Toys
                .col-12
                        .thankYou__items
                            ul.thankYou__items__list
                                li.thankYou__items__list--item
                                    a.thankYou__items__list--item-link(href="#")
                                        img.thankYou__items__list--item-link-img(src="./img/bowl.png", alt="bowl")
                                        p.thankYou__items__list--item-link-info Bowls 
                                            br
                                            |and cups
                                li.thankYou__items__list--item
                                    a.thankYou__items__list--item-link(href="#")
                                        img.thankYou__items__list--item-link-img(src="./img/shampoo.png", alt="shampoo")
                                        p.thankYou__items__list--item-link-info Shampoos
                                li.thankYou__items__list2--item
                                    a.thankYou__items__list--item-link(href="#")
                                        img.thankYou__items__list--item-link-img(src="./img/pills.png", alt="pills")
                                        p.thankYou__items__list2--item-link-info Vitamins
                .col-12
                        .thankYou__items
                            ul.thankYou__items__list
                                li.thankYou__items__list2--item
                                    a.thankYou__items__list--item-link(href="#")
                                        img.thankYou__items__list--item-link-img(src="./img/syringe.png", alt="syringe")
                                        p.thankYou__items__list2--item-link-info Medicines
                                li.thankYou__items__list2--item
                                    a.thankYou__items__list--item-link(href="#")
                                        img.thankYou__items__list--item-link-img(src="./img/leash.png", alt="leash")
                                        p.thankYou__items__list2--item-link-info Collars 
                                            br
                                            |leashes
                                li.thankYou__items__list2--item
                                    a.thankYou__items__list--item-link(href="#")
                                        img.thankYou__items__list--item-link-img(src="./img/cat.png", alt="cat")
                                        p.thankYou__items__list2--item-link-info Sleeping
                                            br
                                            |area