html {
    font-family: inherit;
}

.containerLarge{
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: center;

    // @media screen (max-width: ){
        
    // }
}

button{

    &:hover{
        box-shadow: 0px 0px 10px #f1cdb3;
        background-color: #ffffff;
    }
}