html {
    font-family: inherit;
}

.containerLarge{
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: center;

    // @media screen (max-width: ){
        
    // }
}