mixin header
    .header
        .container
            .row
                +nav
            .row
                .col-xl-6
                    .header__box
                        h2.header__box__title Not only people need a house
                        p.header__box__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida est in porttitor  porttitor. Duis sodales elementum ipsum, vehicula condimentum erat fringilla et.
                        button.header__box__button Make a friend